@font-face {
    font-family: Masiku;
    src: url(../fonts/Masiku.woff);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html,
body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.3;
}

.mytab {
    position: fixed;
    width: 100%;
    max-width: unset;
    max-height: unset;
    left: 0;
    top: 0;
    z-index: 10000;
    background: white;
    bottom: 0;
    height: 100vh;
    overflow: auto;
}